<html>
    <div th:insert="~{fragments/head :: head}">...</div>

    <script type="text/javascript">
        //Hay que hacer en accionlistener, n actualiza el num de pax.
        document.getElementById("pax").addEventListener("select",numeroPax);
        function numeroPax(){
            alert("yeah");
            document.getElementById("pasajeros").innerHTML="holaaaaaa";
        
        }
    </script>
    <body>
        <div th:insert="~{fragments/header :: body}">...</div>

        <!-- Book Form -->
        
        <hr>
  <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Formulario de reserva</h3>
                <form name="book" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Numero de Pasajeros:</label>
                             <select required id="pax" name="numPax">
                                <option value=""></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                
                            </select> 
                        </div>
                    </div>
                <div id="pasajeros">
                    <div class="control-group form-group">
                        <hr>
                        <div class="controls">
                            <label>DNI :</label>
                            <input type="text" class="form-control" id="dni" required data-validation-required-message="Introduzca el DNI del PAX.">
                        </div>
                    </div>
                    
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Introduzca el nombre del PAX.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Apellidos:</label>
                            <input type="text" class="form-control" id="surname" required data-validation-required-message="Introduzca el apellido del PAX.">
                        </div>
                    </div>
                   
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Fecha Nacimiento:</label>
                            <input type="text" class="form-control" id="dob" required data-validation-required-message="Introduzca el apellido del PAX.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Pasaporte:</label>
                            <input type="text" class="form-control" id="passport" required data-validation-required-message="Introduzca el apellido del PAX.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Fecha Caducidad Pasaporte:</label>
                            <input type="text" class="form-control" id="passportexpiry" required data-validation-required-message="Introduzca el apellido del PAX.">
                        </div>
                    </div>
                    <hr>
                </div>
                    
                    
                    
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </form>
            </div>

        </div>
  </div>
        <!-- /.row -->

        <hr>

        <div th:insert="~{fragments/footer :: body}">...</div>

    </body>
</html>
