<html>
    <div th:insert="~{fragments/head :: head}">...</div>
    <body>
        <div th:insert="~{fragments/header :: body}">...</div>
        <hr />
        <div class="container">
            <div class="row" th:each="book : ${selections}">
                <div class="col-md-7">
                    <table class="table table-striped" cellpadding="10">
                        <thead>
                            <tr>
                                <th>Localizador</th>
                                <th>num_pax</th>                    
                                <th>Trip name</th>
                                <th>Date</th>
                                <th>Agency</th>
                                <th>PVP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${book.id}"/>
                                <td th:text="${book.num_Pax}"/>
                                <td th:text="${book.idtrip.name}"/>
                                <td th:text="${book.date}"/>
                        <div th:each="user : ${book.users}">
                            <td th:text="${user.email}"/>
                        </div> 
                        <td th:text="${book.pvp}"/>
                        </tr>
                        </tbody>
                    </table>                
                </div>                
            </div>    
        </div>
        <hr>
        <div th:insert="~{fragments/footer :: body}">...</div>
    </div>
</body>
</html>