<html>
    <body>

        <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <b id="textBrown" class="navbar-text pull-left">© NatureCity Tours S.L  -  2017</b>
            </div>
        </div>    

  
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
        </script>
    </body>
</html>
