<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="header" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="embed-responsive-item" id="logo" th:src="@{/resources/images/logoGrande.jpg}" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  th:switch="${session.user}">
                    
                    <!-- LO QUE VE EL ADMINISTRADOR !-->
                    
                    <ul class="nav navbar-nav navbar-right" id="menu" th:case="'admin@admin.com'">
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOTELS <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                     <a th:href="@{/hotel/list}">Hotel List</a>
                                </li>
                                <li>
                                    <a th:href="@{/hotel/new}">Add Hotel</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRIPS <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                     <a th:href="@{/trip/list}">Trip List</a>
                                </li>
                                <li>
                                    <a th:href="@{/trip/new}">Add Trip</a>
                                </li>
                                
                            </ul>
                        </li> 
                        
                        <li>
                            <a th:href="@{/book/list}">Admin bookings</a>                  
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  th:text="${session.user}" th:unless="${session == null}" ><b class="caret"></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/user/profile}" >Profile</a>
                                    <a th:href="@{/user/logout}">Logout</a>
                                </li>
                            </ul>
                        </li>

                        
                       
                    </ul>
                    <!-- LO QUE VEN TODOS LOS USUARIOS -->
                    <ul class="nav navbar-nav navbar-right" id="menu"  th:case="*">
                        <li>
                            <a th:if="${session.user == null}" th:href="@{/user/about}">About us</a>
                        </li>
                        <li>
                            <a th:if="${session.user != null}" th:href="@{/book/listBooksUser}">Booking List</a>
                        </li>
                        <li>
                            <a th:href="@{/trip/list}">Trip List</a>
                        </li>
                        <li>
                            <a th:if="${session.user == null}" th:href="@{/user/new}">Register</a>
                        </li>
                        <li class="dropdown">
                            
                            <a th:if="${session.user == null}" th:href="@{/user/login}">Login</a>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  th:text="${session.user}" th:unless="${session == null}" ><b class="caret"></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/user/profile}" >Profile</a>
                                    <a th:href="@{/user/logout}">Logout</a>
                                </li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </body>
</html>
