<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="img-responsive" th:src="@{/resources/images/logoGrande.jpg}" style="width: 580px;" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  th:switch="${session.user}">
                    <ul class="nav navbar-nav navbar-right"  th:case="'admin@admin'">
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="portfolio-1-col.html">1 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-2-col.html">2 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-3-col.html">3 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-4-col.html">4 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-item.html">Single Portfolio Item</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/trip/list}">Trip List</a>
                        </li>
                                
                        <li>
                            <a th:href="@{/user/new}">Register</a>
                        </li>
                        <li class="dropdown">
                            
                            <a th:if="${session.user == null}" th:href="@{/user/login}">Login</a>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  th:text="${session.user}" th:unless="${session == null}" ><b class="caret"></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/user/profile}" >Profile</a>
                                    <a th:href="@{/user/logout}">Logout</a>
                                </li>
                            </ul>
                        </li>
                        
                         <li>
                            <a th:href="@{/book/list}">Book List(Admin View)</a>                  
                        </li>
                        
                       
                    </ul>
                    <ul class="nav navbar-nav navbar-right"  th:case="*">
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="portfolio-1-col.html">1 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-2-col.html">2 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-3-col.html">3 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-4-col.html">4 Column Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-item.html">Single Portfolio Item</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/trip/list}">Trip List</a>
                        </li>
                                
                        <li>
                            <a th:href="@{/user/new}">Register</a>
                        </li>
                        <li class="dropdown">
                            
                            <a th:if="${session.user == null}" th:href="@{/user/login}">Login</a>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  th:text="${session.user}" th:unless="${session == null}" ><b class="caret"></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/user/profile}" >Profile</a>
                                    <a th:href="@{/user/logout}">Logout</a>
                                </li>
                            </ul>
                        </li>
                        <div th:switch="${session.user}">
                         <li th:case="'admin@admin'">
                            <a th:href="@{/book/list}">Book List(Admin View)</a>                  
                        </li>
                        <li th:case="*"></li>
                        </div>
                    </ul>
                     </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </body>
</html>
