<!DOCTYPE html>

<html th:switch="${session.lang}">
    <head >

    <div th:insert="~{fragments/head :: head}">...</div>


</head>

<body>
    <div th:insert="~{fragments/header :: body}">...</div>

    <hr>
    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->

                    <ol class="carousel-indicators">

                        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>

                    </ol>

                    <!--Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" th:src="@{${trip.image}}" alt="">
                        </div>

                        <div th:each="image : ${trip.img}" class="item ">
                            <img class="img-responsive"   th:src="@{${image.url}}"  alt="">
                        </div>

                    </div> 

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3 th:text="${trip.name}"/>


                <p th:case="'es'" th:text="${trip.descripcion_es}"></p>
                <p th:case="'ca'" th:text="${trip.descripcion_ca}"></p>
                <p th:case="'en'" th:text="${trip.descripcion_en}"></p>

                <h4>Prices</h4>
                <ul>

                    <li><b th:text="${trip.pricesingle}"></b> € | Price/pax</li>

                </ul>
                <a th:if="${session.user != null}" class="btn btn-primary" th:href="@{/book/form/}+${trip.id}">BOOK</i></a>
                <a   th:if="${session.user == 'admin@admin.com'}" class="btn btn-danger" th:href="@{/trip/delete/}+${trip.id}" th:text="#{deleteTip}" />
                <span th:if="${session.user == null}" class="label label-info">If You want to book, You must go to your favorite Travel Agency</span>
            </div>

        </div>
        <!-- /.row -->
        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service Tabs</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Itinerary</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i>Hotels</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-support"></i> Dates</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-database"></i> Conditions</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Itinnerary</h4>
                       
                        <div th:switch="${session.lang}" th:each="it,iter : ${trip.itineraries}">
                            <b th:text="#{itineraryDay}+${iter.index+1}"></b>
                            <p th:case="'es'" th:text="${it.day_es}"></p>
                            <p th:case="'ca'" th:text="${it.day_ca}"></p>
                            <p th:case="'en'" th:text="${it.day_en}"></p>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Hotels</h4>
                        <div  th:each="hotel : ${trip.hotels}">
                            <div class="col-md-3 text-center align-middle">
                                <img th:src="@{/resources/images/utils/hotel.png}">
                                <p  th:text="${hotel.name}"></p>
                                <p  th:text="${hotel.location}"></p>
                                <div class="col-md-12 col-xs-12">
                                <div th:each="i :${new int [hotel.category]}" >
                                    <p class="fa fa-star col-xs-1 col-md-1" aria-hidden="true"></p>
                                </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Dates</h4>
                        <div  th:each="date : ${trip.dates}">
                            <p th:text="${date.departuredates}"></p>
                            <p th:text="${#dates.monthName(date.departuredates)}"></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Service Four</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Related Projects Row -->
        <div class="row" id="relationedTrip">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>


        <div th:insert="~{fragments/footer :: body}">...</div>
    </div>
</body>

</html>
