<html>
    <head>
    <div th:insert="~{fragments/head :: head}">...</div>
    <script>
        $(document).ready(function () {
            var max_fields = 3; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
            var add_button = $(".add_field_button"); //Add button ID
            var x = 0; //initlal text box count
            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed
                    $(wrapper).append('<div clas="col-xs-6" ><input type="file" accept="image/png, image/jpeg" name="files" class="form-control"><a href="#" class="input-group-addon remove_field">Remove</a><hr /></div>'); //add input box
                    x++; //text box increment
                }
            });
            $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
            })
        });
        $(document).ready(function () {
            var max_fields = 10; //maximos inputs
            var wrapper = $(".input_div"); //donde se crearran los input
            var add_button = $(".add_button"); //boton de añadir inputs
            var x = 2; // variable auxiliar
            $(add_button).click(function (e) { //añadir boton al hacer clic
                e.preventDefault();
                if (x < max_fields) { //filtro de inputs
                    $(wrapper).append('<div> Day ' + x + '<input type="text" class="form-control input-md" name="day" ><a href="#" class="input-group-addon remove_input">Remove</a><hr /></div>'); //inputs
                    x++; //text box increment
                }
            });
            $(wrapper).on("click", ".remove_input", function (e) { //Eliminar input
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
            })
        });
    </script>
</head>
<body>
    <div th:insert="~{fragments/header :: body}">...</div>

    <!-- Entidad Form -->

    <hr>

    <div class="container">
        <div class="row">


            <form class="form-inline" id="lista" th:action="@{/trip/new}" th:object="${trip}" method="post" enctype="multipart/form-data" >
                <fieldset>

                    <!-- Form Name -->
                    <legend>Trip</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Name</label>  
                        <div class="col-md-4">
                            <input th:field="*{name}"  type="text" placeholder="placeholder" class="form-control input-md">
                            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >help</span> 
                        </div>
                    </div>

                    <!-- Numb input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Day Duration</label>  
                        <div class="col-md-4">
                            <input th:field="*{duration}"  type="number" placeholder="placeholder" class="form-control input-md">
                            <span  th:if="${#fields.hasErrors('duration')}" class="help-block">help</span>  
                        </div>
                    </div>

                    <!-- Num input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Price Single</label>  
                        <div class="col-md-4">
                            <input th:field="*{pricesingle}" type="number" placeholder="placeholder" class="form-control input-md">
                            <span th:if="${#fields.hasErrors('pricesingle')}" class="text-danger" th:errors="*{pricesingle}">help</span>  
                        </div>
                    </div>
                    <hr>
                    <!-- Form Name -->
                    <legend>Trip Dates Range</legend>

                    <!-- Date input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Firts Departure</label>  
                        <div class="col-md-4">
                            <input  name="firts" type="date" placeholder="placeholder" class="form-control input-md">
                            <span class="help-block">help</span>  
                        </div>
                    </div>

                    <!-- Date input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Last Departure</label>  
                        <div class="col-md-4">
                            <input name="last" type="date" placeholder="placeholder" class="form-control input-md">
                            <span class="help-block">help</span>  
                        </div>
                    </div>

                    <!-- Form Name -->
                    <legend>Dates Departure</legend>

                    <!-- Date input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Lista de Fechas</label>  
                        <div class="col-md-4">
                            <input name="departuredates" type="date" placeholder="placeholder" class="form-control input-md">
                            <span class="help-block">help</span>  
                        </div>
                    </div>

                    <!-- Form Name -->
                    <legend>Itineray</legend>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Trips Days <br />
                        </label>  
                        <div class="col-md-4">
                            Day 1
                            <input  name="day" type="text" placeholder="placeholder" class="form-control">
                            <span class="help-block">help</span>
                            <div class="input_div">...</div>
                            <div class="input_fields_wrap">
                                <br /><br />
                                <!--<div clas="col-xs-6" ><input type="file" accept="image/png, image/jpeg" name="files" class="form-control" ><a href="#" class="input-group-addon remove_field">Remove</a><hr /></div> -->
                            </div>

                            <button class="add_button btn btn-default">Add Day</button>
                        </div>


                    </div>

                    <br />
                    <hr>
                    <br />

                    <!-- Form Name -->
                    <legend>Hotels</legend>
                    <!-- Multiple Checkboxes -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="checkboxes">List</label>
                        <div class="col-md-4">
                            <input type="hidden" class="hidden"  name="hoteles" value=''>
                            <div class="checkboox" th:each="hotel : ${hoteles}"  >

                                <label th:for="${hotel.name}">
                                    <input type="checkbox" name="hoteles" th:value="${hotel.id}">
                                    <b th:text="${hotel.name}"></b>
                                </label>

                            </div>

                        </div>
                    </div>


                    <!-- Form Name -->
                    <legend>Images</legend>
                    <!-- File Button --> 
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="filebutton">Portada Image</label>
                        <div class="col-md-4">
                            <input name="file" class="input-file btn btn-primary" type="file">
                        </div>
                    </div>

                    <!-- File Button --> 
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="filebutton">Slide Image</label>
                        <div class="col-md-4">
                            <div class="input_fields_wrap">
                                <br /><br />
                                <!--<div clas="col-xs-6" ><input type="file" accept="image/png, image/jpeg" name="files" class="form-control" ><a href="#" class="input-group-addon remove_field">Remove</a><hr /></div> -->
                            </div>
                            <button class="add_field_button btn btn-default">Add Image (max 3)</button>
                        </div>
                    </div>

                </fieldset>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>


            <!-- /.row -->

            <div th:insert="~{fragments/footer :: body}">...</div>
        </div>
</body>

</html>
